@import '~bootstrap/scss/bootstrap';

// .tictactoe {
//   display: grid;
//   grid-template-rows: 150px 150px 150px;
//   grid-template-columns: 150px 150px 150px;
// }

// for some css stylings
body {
  background-image: url("https://cdn.pixabay.com/photo/2017/06/21/07/33/background-2426328_960_720.jpg");
}

.cell {
  background: #FFA8D3;
  border: 15px solid #555;
  // align-items: center;

  color: #FF4848;
  min-height: 100px;
  max-height: 100px;
  width: 32%;

}

#game-board {
  height: 50%;
  width: 50%;
  display: none;

}
.row {

width: 100%;

}
// #game-status {
//   background-color: #EE82EE
// }
