@import '~bootstrap/scss/bootstrap';

// .tictactoe {
//   display: grid;
//   grid-template-rows: 150px 150px 150px;
//   grid-template-columns: 150px 150px 150px;
// }

// for some css stylings
body {
  background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

}

h2 {
  text-align: center;
}
.cell {
  background: #FFA8D3;
  border: 15px solid #555;
  // align-items: center;

  color: #FF4848;
  min-height: 100px;
  max-height: 100px;
  width: 32%;

}

#game-board {
  height: 50%;
  width: 50%;
  display: none;
}

.hide {
  display: none;
}
.row {
width: 100%;

}

#game-create {


  text-align: center;
  margin: auto;


}

#game-status {
  background-color: #EE82EE;
}

#create-game-message {
  background-color: #90EE90;
  height: 50px;
  width: 400px;
  text-align: center;
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}

input[type="submit"] {
  background-color: #90EE90;
  border-radius: 12px;
}
